streamlit==1.32

pydantic==2.5.3
pydantic-extra-types==2.2.0
pydantic-settings==2.1.0
pydantic_core==2.14.6

pytest==7.4.3
pytest-asyncio==0.23.2
pytest_async==0.1.1

python-dotenv==1.0.0

SQLAlchemy==2.0.23
SQLAlchemy-Utils==0.41.1
psycopg2==2.9.9
asyncpg==0.29.0